/* ----------------------------------------------------
	 NAVIGATION STYLE 
------------------------------------------------------- */

/*-------------------MAIN NAVIGATION----------------------*/

#menu_trigger { display: none;}
#navigation_bar{display: block; width:960px; position:relative; line-height:20px; margin:5px 0 0 0; float:left; }
#navigation,#navigation ul{list-style:none;display:block;position:relative;margin:0 0 0 0;padding:0;}
#navigation {padding-left:0px;}
#navigation:before,#navigation:after{content:"";display:table;}
#navigation:after{clear:both;}

#navigation_bar ul li,
#navigation_bar > ul > li {font-family: Arial, Helvetica, sans-serif;}

#navigation_bar > ul > li > a i{display:none}

#navigation_bar > ul > li { text-align:center;border-right: 1px solid #005ea6;-moz-box-shadow: 1px 0 0 #2691d2;	-webkit-box-shadow: 1px 0 0 #2691d2;box-shadow: 1px 0 0 #2691d2;}
#navigation_bar > ul > li:last-child {border-right: none !important;-moz-box-shadow: 0px 0 0 #444;-webkit-box-shadow: 0px 0 0 #444;box-shadow: 0px 0 0 #444;}
#navigation_bar > ul > li > a {padding:10px 20.9px; color: #fff;text-decoration: none; font-weight:bold;}
#navigation_bar > ul > li > a.sf-with-ul {/*padding: 8px  22px 8px 11px;*/}
#navigation_bar > ul > li:last-child  a:hover, #navigation_bar > ul > li.current-menu-item:last-child{-webkit-border-bottom-right-radius: 6px;-moz-border-radius-bottomright: 6px;border-bottom-right-radius: 6px;
-webkit-border-top-right-radius: 6px;-moz-top-radius-bottomright: 6px;border-top-right-radius: 6px;}
#navigation_bar > ul > li:first-child  a:hover , #navigation_bar > ul > li.current-menu-item:first-child{
-webkit-border-bottom-left-radius: 6px;-moz-border-radius-bottomleft: 6px;border-bottom-left-radius: 6px;
-webkit-border-top-left-radius: 6px;-moz-top-radius-bottomleft: 6px;border-top-left-radius: 6px;}
#navigation_bar > ul > li.sfHover > a, #navigation_bar > ul > li > a:hover, #navigation_bar > ul > li.current-menu-item, #navigation_bar > ul > li.current-menu-parent {
-moz-box-shadow: 0px 3px 10px #094fa3, 0 0 0 #EEEEEE inset;
-webkit-box-shadow:0px 3px 10px #094fa3, 0 0 0 #EEEEEE inset;
box-shadow: 0px 3px 10px #094fa3, 0 0 0 #EEEEEE inset;	
}
#navigation_bar > ul > li.current-menu-item, #navigation_bar > ul > li.current-menu-item > a:hover,#navigation_bar > ul > li.current-menu-item > a.sf-with-ul,#navigation_bar > ul > li.current-menu-parent > a{/*
-moz-box-shadow: 0 1px 1px #006eb1, 0 3px 1px #eeeeee inset;
-webkit-box-shadow: 0 1px 1px #006eb1, 0 3px 1px #eeeeee inset;
box-shadow: 0 1px 1px #006eb1, 0 3px 1px #eeeeee inset;*/	}
#navigation li{float:left;position:relative;}
#navigation a{float:left;color:#fff;text-decoration:none;margin:0 41px 0 0px;padding:0; font-weight:bold;}
#navigation a:hover {color:#85cebc;}
#navigation li li:hover > a{color:#009FC2;}
#navigation ul{display: none;position:absolute;top:27px;left:0;z-index:1000;background:#fff;border-top:3px solid #f15a23;box-shadow:0 2px 5px rgba(0,0,0,.15);-moz-box-shadow:0 2px 5px rgba(0,0,0,.15);-webkit-box-shadow:0 2px 5px rgba(0,0,0,.15);-o-box-shadow:0 2px 5px rgba(0,0,0,.15);-ms-box-shadow:0 2px 5px rgba(0,0,0,.15);/*transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;*/-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin:10px 0 0;}
#navigation ul li a{ color:#007Da9; }
#navigation li:hover > ul{ display:block;}
#navigation ul ul{top:-3px;left:200px;_margin:0;margin:0 0 0 10px;z-index:2000;}
#navigation ul li{float:none;display:block;border:0;_line-height:0;border-bottom:1px solid #f1f1f1;margin:0 0 0 0; text-align:left}
#navigation ul li:last-child{box-shadow:none;border:none;}
#navigation ul a{width:185px;_height:10px;display:block;float:none;text-transform:none;border-top:1px solid #fff;font-size:12px;margin:0;padding:8px 15px 10px 27px;}
#navigation ul a.current:before{font-weight:lighter;}
#navigation ul a:before{color:#0082cf;content:"»";font-family:FontAwesome;font-size:12px;left:13px;position:absolute;top:9px;}
#navigation ul li a:last-child{border-radius:0 0 3px 3px;}
#navigation ul a:hover{background-color:#fafafa;background-image:linear-gradient(#fafafa,#f8f8f8);-moz-background-image:linear-gradient(#fafafa,#f8f8f8);-webkit-background-image:linear-gradient(#fafafa,#f8f8f8);-o-background-image:linear-gradient(#fafafa,#f8f8f8);-ms-background-image:linear-gradient(#fafafa,#f8f8f8);}
#navigation ul li:first-child > a{border-radius:0 0 0 0;}

#navigation ul li:first-child:after{content:'';position:absolute;left:15px;top:-11px;border-left:0 solid transparent;border-right:9px solid transparent;border-bottom:9px solid #007Da9;}

#navigation ul li ul li:first-child:after{left:-9px;top:55%;margin-top:-6px;border-left:0;border-bottom:9px solid transparent;border-top:0 solid transparent;border-right:9px solid #007Da9;}

#navigation ul ul li:first-child a:after{left:-9px;top:55%;margin-top:-6px;border-left:0;border-bottom:9px solid transparent;border-top:0 solid transparent;border-right:9px solid #007Da9;}

#navigation ul li:first-child a:hover:after{/*border-bottom-color:#f15a23;*/}
#navigation ul ul li:first-child a:hover:after{border-right-color:#0082cf;border-bottom-color:transparent;}
#navigation_trigger{display:none;}
#navigation a.current,#navigation li:hover > a,*html #navigation li a:hover,#navigation ul a.current{color:#f15a23;}	


#navigation li li:hover > a{color:#85cebc;background-color:#fafafa;background-image:linear-gradient(#fcfcfc,#f8f8f8);}
#navigation ul{border-top:3px solid #007Da9;}
#navigation a.current,#navigation li:hover > a,*html #navigation li a:hover,#navigation ul a.current,#navigation ul a:before{color:#f15a23;}
#navigation ul li:first-child > a:after,#navigation ul li:first-child a:hover:after{/*border-bottom-color:#F00;*/}
#navigation ul ul li:first-child a:after,#navigation ul ul li:first-child a:hover:after{/*border-right-color:#0082cf;*/}


/* Slide Show Search Feature */ 
#navigation li.search_bar { right:0; float:right; position:relative}
.search_bar .search_text{  border: 1px solid #F0F0F0; width:auto;height:18px;  border-radius: 0;  box-shadow: none;-webkit-border-bottom-right-radius: 6px;-moz-border-radius-bottomright: 6px;border-bottom-right-radius: 6px;}
.search_bar input.searchsubmit{width:32px;height:31px;float:right;margin:2px 3px 0 -2.9em;background:url(../images/submitbutton.png) left -33px  no-repeat;position:absolute; border:0; overflow:hidden; padding:0}
.search_bar input.searchsubmit:hover{background:url(../images/submitbutton.png) left top no-repeat;}
/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {padding-right: 2.5em;*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';	position: absolute;
	top: 50%;	right: 1.5em;	margin-top: -1px;	height: 0;	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;border-top-color: #fff;
	 /* edit this to suit design (no rgba in IE8) */
}
.sf-arrows > li > .sf-with-ul:focus:after,.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {border-top-color: #fff; }
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {margin-top: -5px;margin-right: -3px;border-color: transparent;border-left-color: #0082cf; /* edit this to suit design (no rgba in IE8) */}
.sf-arrows ul li > .sf-with-ul:focus:after,.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {border-left-color: #0082cf;}

/* ----------------------------------------------------	
	RESPONSIVE VALUES - MEDIA QUERIES
------------------------------------------------------- */

/* Tablet (landscape) 	1024px */
@media only screen and (max-width: 1024px) {

	#navigation ul li{text-align:left;}

} 

/* Tablet (Portrait) 	768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {

	#navigation_bar{ float:left; width: 743px; margin:0;}
	#navigation,#navigation ul{margin:0;}
	#navigation a { margin:6px 32px 0 0px;}
	#navigation_bar > ul > li > a { padding:10px 12.9px; font-size:13px;}
	.sf-arrows .sf-with-ul:after {right:16px; top:59%;}
	/*#navigation li:hover > ul{margin:3em 0 0 0;}*/
	
	/*#navigation {padding-left:0;border: none;	background-color: transparent;
	background-image: none;	-moz-border-radius: ;-webkit-border-radius:none;
	border-radius:none;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}*/
	/*#navigation_bar > ul > li > a i{font-size:42px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;color:#FFFFFF;text-align:center;background-color:#FF3300;	margin:0 auto 2px auto;display:block;padding:11px;text-shadow:0 0 1px #000; width:45px; height:43px;}
	#navigation_bar > ul > li > a:hover i {-webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg);-webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s;}
	#navigation_bar > ul > li { border-right: none;-moz-box-shadow: none;	-webkit-box-shadow:none;box-shadow:none;}
	#navigation_bar > ul > li > a,#navigation_bar > ul > li > a.sf-with-ul{color:#fff; padding:0;text-shadow: none;margin:0; width: 90px;}
	
	#navigation ul{top:60px;}
	.sf-arrows .sf-with-ul:after { border:none; border-style:none}
	#navigation_bar > ul > li.sfHover > a, #navigation_bar > ul > li > a:hover ,#navigation_bar > ul > li.current-menu-item, #navigation_bar > ul > li.current-menu-item a:hover,#navigation_bar > ul > li.current-menu-item > a.sf-with-ul,#navigation_bar > ul > li.current-menu-parent,#navigation_bar > ul > li.current-menu-parent a{-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;background: none; }
	#navigation_bar > ul > li.current-menu-item a i,#navigation_bar > ul > li.current-menu-parent a i{
	text-shadow:1px 1px 0px #000; color:#000;
	-moz-box-shadow: 0 4px 2px #aaa, 0 1px 1px #000 inset;
	-webkit-box-shadow: 0 4px 2px #aaa, 0 1px 1px #000 inset;
	box-shadow: 0 4px 2px #aaa, 0 1px 1px #000 inset;}*/

}	
	
/* Mobile (portrait) 	320px */
@media only screen and (max-width: 767px) {
         #navigation ul li a{ color:#fff; }
	.sf-arrows .sf-with-ul:after { border:none; border-style:none}	
	#navigation_bar > ul > li.sfHover > a, #navigation_bar > ul > li > a:hover ,#navigation_bar > ul > li.current-menu-item, #navigation_bar > ul > li.current-menu-item a:hover,#navigation_bar > ul > li.current-menu-parent,#navigation_bar > ul > li.current-menu-parent > a.sf-with-ul{-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;background: #fff; -webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px; border-radius: 6px;
-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px; color:#fff; }
	#navigation_bar > ul > li > a i{ display:none}	
	#navigation_bar > li.current-menu-item > a,#navigation_bar  li  a:hover,#navigation_bar > ul > li.current-menu-parent > a,#navigation_bar > ul > li.current-menu-parent > a.sf-with-ul{ color:#85cebc;}	
	#navigation_bar > ul > li.current-menu-item > a, #navigation_bar ul  ul  li.current-menu-item a, #navigation_bar > ul > li.current-menu-parent > a.sf-with-ul,#navigation_bar > ul > li.current-menu-item > a.sf-with-ul{ font-weight: bold;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none; color:#fff;	}	
	
	#navigation_bar{ float:left;width:230px; clear:both; margin:10px 0 3px 0; }		
	#navigation_bar > ul > li { text-align:left;border-right: none; box-shadow: none;}		
	nav#main_nav{position:relative;top:40px;padding-left:0;}
	#menu_trigger{text-align:left;display:block;height:27px;width:250px;line-height:24px; cursor:pointer;color:#fff;font-weight:700;padding:4px 0 0px 15px; font-size:20px; text-transform:uppercase;
-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px; border-radius: 6px;
-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
	#menu_trigger .menu_icon { background:url(../images/menu.png) no-repeat; float:left; width:28px; height:25px; margin-right:15px;}
	
	#navigation{ text-align:left;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;-o-border-radius:6px;-ms-border-radius:6px;position:absolute;width:205px;z-index:99;display:none;box-shadow:none;margin:10px 0 0 0;padding:12px 32px;background:#007da9; 
/*background: -moz-linear-gradient(top, #0082cf 0%,#0074bb 47%,#006bac 100%); 
background: -webkit-gradient(linear, left top, left bottom, #0082cf 0%,#0074bb 47%,#006bac 100%); 
background: -webkit-linear-gradient(top, #0082cf 0%,#0074bb 47%,#006bac 100%); 
background: -o-linear-gradient(top, #0082cf 0%,#0074bb 47%,#006bac 100%); 
background: -ms-linear-gradient(top, #0082cf 0%,#0074bb 47%,#006bac 100%); 
background: linear-gradient(to bottom, #0082cf 0%,#0074bb 47%,#006bac 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0082cf', endColorstr='#006bac',GradientType=0 );  IE6-9 */}
	#navigation:after{content:'';position:absolute;left:18px;top:-10px;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #007da9;}
	#navigation ul{position:static;visibility:visible;opacity:1;background:none;box-shadow:none;border:none!important;}
	#navigation ul,#navigation ul ul,#navigation li:hover > ul{padding-left:30px;border-left:1px solid #eee!important;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;-o-border-radius:0;-ms-border-radius:0;margin:3px 18px;}
	#navigation ul:before{position:absolute;margin-left:-46px;margin-top:15px;width:15px;height:1px;background:#eee;content:"";}
	#navigation ul ul{box-shadow:none;}
	#navigation li{position:static;display:block;float:none;border:none;box-shadow:none;margin:0;}
	#navigation ul li{box-shadow:none;border:none;}
	#navigation a{display:block;float:none;color:#fff;margin:0; text-transform:capitalize}
	#navigation_bar > ul > li > a{ padding-left:4px}
	#navigation a.current{font-weight:700;}
	#navigation a,#navigation ul a{border:none;padding:1px 0;}
	#navigation li li:hover > a{color:#85cebc;background:none;}
	#navigation a:hover{color:#fafafa;background:none;}
	#navigation ul a{width:auto;position:relative;}
	#navigation a:before{content:"»";left:20px;margin-top:-1px;top:auto;position:absolute;color:#fff; font-size:13px}
	#navigation ul a:before{left:-12px;top:auto;}
	#navigation ul a:hover{background:none;}
	#navigation ul li:first-child a:after,#navigation ul ul li:first-child a:after{border:0;}
	#navigation ul li ul li:first-child:after {border:none;}
		
}

/* Mobile (Landscape) 	480px */
@media only screen and (min-width: 480px) and (max-width: 767px){ 

#menu_trigger{width: 390px; padding-top: 12px;}
#navigation{ width:342px}
#navigation_bar {width:440px;}

		
}